<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update</title>
    </head>
    <body>

        <h2>Update</h2>

        <form method="post">
            {% csrf_token %}
            <div>
                <label for="sepal_length">sepal length</label>
                <input type="number" id="sepal_length" name="sepal_length" value="{{ data.sepal_length }}" />
            </div>
            <div>
                <label for="sepal_width">sepal width</label>
                <input type="number" id="sepal_width" name="sepal_width" value="{{ data.sepal_width }}" />
            </div>
            <div>
                <label for="petal_length">petal length</label>
                <input type="number" id="petal_length" name="petal_length" value="{{ data.petal_length }}" />
            </div>
            <div>
                <label for="petal_width">sepal width</label>
                <input type="number" id="petal_width" name="petal_width" value="{{ data.petal_width }}" />
            </div>

            <div>
                <label for="petal_width">specie</label>
                <select name="specie" id="specie">
                    <option value="" selected hidden disabled>Selecione uma especie</option>
                    {% for x in species %}
                        <option value="{{ x }}" {% if data.specie == x %} selected {% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <input type="submit" value="Salvar" />
                <input type="button" value="Voltar" onclick="window.location.href = '/iris/'" />
            </div>
        </form>
    </body>
</html>